  <!-- <div class="container"> -->
    <div class="row my-views">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>WELCOME TO SCHOLARSIRG</h1>
        <p>Feel free to poke around</p>
        <p>We've put some resources together to get you started</p>
        <div>
          <a href="#/students" class="btn btn-lg btn-primary">View our students</a>
          <a href="#/resources" class="btn btn-lg btn-primary"> Student resources</a>
        </div>
      </div>
    </div>
  <!-- </div> -->
